	a {
		text-decoration: none;
		color: #222;
	}

	body {
		background-color: #fffff4;
		white-space: pre-wrap;
		font-size: 24px;
		letter-spacing: 1px;
		line-height: 39px;
		padding: 12px;
	}

	ul {
		white-space: normal;
		margin-left: -16px;
	}

	li {
		list-style-type:circle ;
	}
