	a {
		text-decoration: none;
		color: #222;
	}

	body {
		background-color: #fffff4;
		white-space: pre-wrap;
		font-size: 24px;
		line-height: 39px;
		padding: 8px 0px 10px 10px;
	}

	ul {
		white-space: normal;
		margin-left: -16px;
	}

	li {
		list-style-type:circle ;
	}
