	a {
		text-decoration: none;
		color: #222;
	}

	body {
		background-color: #fffff4;
		white-space: pre-wrap;
		font-size: 24px;
		color: #222;
		line-height: 42px;
		padding: 8px 0px 10px 10px;
	}

	ul {
		white-space: normal;
		margin-left: -16px;
	}

	li {
		list-style-type:circle ;
	}

	.hidden{
		display: none;
		visibility: hidden;
	}

	.note {
		color: #056;
		font-size: 24px;
		font-weight: normal!important;
		border-radius: 3px;
		line-height: 42px;
		padding-bottom: 2px;
		margin-left: 5px;
	}

	.even {
	}