	a {
		text-decoration: none;
		color: #222;
	}

	body {
		background-color: #fffff4;
		white-space: pre-wrap;
		font-size: 16px;
		letter-spacing: 1px;
		line-height: 24px;
		padding: 12px;
	}

	ul {
		white-space: normal;
	}

	li {
		line-height: 24px;
	}
